<div class="change-password-container">
  <h2 class="change-password-title">Cambiar Contraseña</h2>

  <form [formGroup]="formGroup" class="password-form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña Actual</mat-label>
      <input formControlName="currentPassword" matInput type="password" />

      @if (formGroup.get('currentPassword')?.hasError('required')) {
        <mat-error>Contraseña actual es requerida</mat-error>
      } @else if (formGroup.get('currentPassword')?.hasError('minlength')) {
        <mat-error>Contraseña actual debe tener al menos 4 caracteres</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nueva Contraseña</mat-label>
      <input formControlName="newPassword" matInput type="password" />

      @if (formGroup.get('newPassword')?.hasError('required')) {
        <mat-error>Nueva contraseña es requerida</mat-error>
      } @else if (formGroup.get('newPassword')?.hasError('minlength')) {
        <mat-error>Nueva contraseña debe tener al menos 4 caracteres</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirmar Nueva Contraseña</mat-label>
      <input formControlName="confirmPassword" matInput type="password" />

      @if (formGroup.get('confirmPassword')?.hasError('required')) {
        <mat-error>Confirmar nueva contraseña es requerida</mat-error>
      } @else if (formGroup.get('confirmPassword')?.hasError('minlength')) {
        <mat-error>Confirmar nueva contraseña debe tener al menos 4 caracteres</mat-error>
      }
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" class="submit-btn">
      Cambiar Contraseña
    </button>
  </form>
</div>
