<div class="genre-list-container">
  <div class="header-section">
    <h2 class="genre-list-title">Ventas</h2>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="sales()" matSort class="mat-elevation-1">
      <ng-container matColumnDef="saleId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let genre">{{ genre.saleId }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
        <td mat-cell *matCellDef="let genre">{{ genre.title }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let genre">{{ genre.email }}</td>
      </ng-container>

      <ng-container matColumnDef="dateEvent">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha del Evento</th>
        <td mat-cell *matCellDef="let genre">
          {{ genre.dateEvent }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
        <td mat-cell *matCellDef="let genre">{{ genre.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
        <td mat-cell *matCellDef="let genre">{{ genre.total }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
