<mat-toolbar class="header">
  <a routerLink="/" class="logo">
    <mat-icon>music_note</mat-icon>
    <span>{{ title() }}</span>
  </a>

  <span class="spacer"></span>

  @if (isLoggedIn()) {
    <button mat-flat-button routerLink="/customer">
      Bienvenido <b>{{ nameOfUser() }}</b>
    </button>
  }

  @if (isLoggedIn()) {
    <button mat-flat-button (click)="authService.logout()">Cerrar Sesión</button>
  } @else {
    <a mat-stroked-button routerLink="/login">Ingresar</a>
    <a mat-flat-button routerLink="/register">Registrarse</a>
  }
</mat-toolbar>
